@import 'color';

.admin {
  display: block;
  font-size: 1.2em;
  font-weight: 700;
  height: 40px;
  opacity: .9;
  position: fixed;
  right: 300px;
  z-index: 4;
  top: 95%;
}

.admin:hover {
  background-color: $grey900;
}

#save,
#saveEdits {
  background-color: $red400;
  display: none;
  left: 200px;
  opacity: .95;
}

#save:hover,
#saveEdits:hover {
  background-color: $red500;
}

#edit {
  left: 105px;
}

#create {
  left: 10px;
}
