//Red
$red50: #ffebee;
$red100: #ffcdd2;
$red200: #ef9a9a;
$red300: #e57373;
$red400: #ef5350;
$red500: #f44336;
$red600: #e53935;
$red700: #d32f2f;
$red800: #c62828;
$red900: #b71c1c;
$redA100: #ff8a80;
$redA200: #ff5252;
$redA400: #ff1744;
$redA700: #d50000;

//Cyan
$cyan50: #e0f7fa;
$cyan100: #b2ebf2;
$cyan200: #80deea;
$cyan300: #4dd0e1;
$cyan400: #26c6da;
$cyan500: #00bcd4;
$cyan600: #00acc1;
$cyan700: #0097a7;
$cyan800: #00838f;
$cyan900: #006064;
$cyanA100: #84ffff;
$cyanA200: #18ffff;
$cyanA400: #00e5ff;
$cyanA700: #00b8d4;

//Green
$green50: #e8f5e9;
$green100: #c8e6c9;
$green200: #a5d6a7;
$green300: #81c784;
$green400: #66bb6a;
$green500: #4caf50;
$green600: #43a047;
$green700: #388e3c;
$green800: #2e7d32;
$green900: #1b5e20;
$greenA100: #b9f6ca;
$greenA200: #69f0ae;
$greenA400: #00e676;
$greenA700: #00c853;

//Light green
$lightgreen50: #f1f8e9;
$lightgreen100: #dcedc8;
$lightgreen200: #c5e1a5;
$lightgreen300: #aed581;
$lightgreen400: #9ccc65;
$lightgreen500: #8bc34a;
$lightgreen600: #7cb342;
$lightgreen700: #689f38;
$lightgreen800: #558b2f;
$lightgreen900: #33691e;
$lightgreenA100: #ccff90;
$lightgreenA200: #b2ff59;
$lightgreenA400: #76ff03;
$lightgreenA700: #64dd17;

//Grey
$grey50: #fafafa;
$grey100: #f5f5f5;
$grey200: #eee;
$grey300: #e0e0e0;
$grey400: #bdbdbd;
$grey500: #9e9e9e;
$grey600: #757575;
$grey700: #616161;
$grey800: #424242;
$grey900: #212121;

//Black & white
$black: #000;
$white: #fff;
