img {
  max-width: 100%;
}

input {
  background-color: transparent;
  border: 0;
  color: $white;
  font-family: Consolas;
  font-size: 1em;
  font-weight: 600;
  height: fit;
  text-align: center;
  word-wrap: normal;
  width: 100%;
}
