@import 'color';

.font{
	font-family: Consolas, sans-serif;
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
}

.header{
	@extend .font;
	color: $grey700;
	font-weight: 600;
}

.text{
	@extend .font;
	font-weight: 400;
}

body{
	@extend .text;
	font-size: 1em;
}

h1{
	@extend .font;
	font-size: 1.5em;
	display: inline-block;
	font-weight: 700;
	color: $grey800;
	padding: 10px;
}

p{
	@extend .text;
	margin-bottom: 15px;
}

button{
	@extend .text;
	@extend .remove;
	font-size: 1em;
	text-transform: uppercase;
	padding: 7px;
	border: none;
	min-width: 85px;
	background-color: $grey800;
	color: white;
	text-align: center;
	cursor: pointer;
}

//Special text
a{
	@extend .font;
}

//Links
a:link, a:visited{
	color: $cyan500;
	text-decoration: none;
}

a:hover, a:active{
	color: $grey800;
	text-decoration: underline;
}

code {
	background-color: $grey200;
	padding-right: 4px;
	padding-left: 4px;
	white-space: normal;
/*	word-wrap: break-word;
*/	display: inline-block;
}