@import 'color';

%remove {
  left: 0;
  margin: 0;
  position: relative;
  top: 0;
}

#helpInsertProjects {
  display: block;
  height: 70px;
  position: relative;
  width: 100%;
}

.header {
  background-color: $grey200;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, .18);
  display: block;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}

body {
  @extend %remove;
  background: $grey100;
  display: block;
  height: 600px;
  position: relative;
  width: 350px;
  z-index: 1;
}

.container {
  @extend %remove;
  text-align: left;
  width: 90%;
  padding-bottom: 100px;
}

.project {
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, .08);
  margin-bottom: 20px;
  width: 100%;
}

.projectHeader {
  background-color: $cyan500;
  position: relative;
  width: 100%;
}

.projectTitle {
  color: $white;
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 0;
  padding: 5px;
  text-align: center;
}

#newproject {
  background-color: $grey600;
}

.title {
  background-color: $grey50;
  border-bottom: 1px solid $grey300;
  margin-bottom: 0;
  width: 100%;
}

.title:hover {
  background-color: $white;
}

.questionTitle {
  cursor: crosshair;
  display: inline-block;
  font-size: .9em;
  font-weight: 600;
  margin-bottom: 0;
  padding: 5px;
  width: 265px;
}

.answer {
  background-color: $white;
  display: none;
  max-height: 250px;
  overflow-y: scroll;
  padding-top: 5px;
  position: relative;
}

.answerText {
  font-size: .85em;
  max-width: 270px;
  padding: 5px;
}


//ADDING NEW LESSONS
input {
  background-color: transparent;
  border: 0;
  color: $white;
  font-family: Consolas;
  font-size: 1em;
  font-weight: 600;
  height: fit;
  text-align: center;
  word-wrap: normal;
  width: 100%;
}

.cover {
  background-color: $black;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: .8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.modal {
  align-items: center;
  background-color: $white;
  border-radius: 1px;
  display: flex;
  height: 100px;
  justify-content: center;
  left: 45px;
  opacity: 1;
  padding: 7.5px;
  position: fixed;
  top: 150px;
  width: 240px;
  z-index: 6;
}

.modalText {
  text-align: center;
}

.confirmDelete,
.confirmProjectDelete {
  color: $red500;
}

.confirmKeep {
  color: $green500;
}

//Answer's upvotes
.upvotes {
  background-color: $cyan300;
  border: 0;
  color: $white;
  font-size: 1em;
  margin: 0;
  margin-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
  position: absolute;
  width: fit-content;
}

.upvotes:hover {
  opacity: .2;
}

img {
  max-width: 100%;
}
