@import 'color';
@import 'page';
@import 'font';

.admin {
	position: fixed;
	z-index: 4;
	top: 555px;
	left: 300px;
	opacity: 0.9;
}

#save {
	left: 65px;
	display: none;
	background-color: $red400;
	opacity: 0.95;
}

#edit {
	left: 160px;
}

#create {
	left: 255px;
}

.icon, .delete {
	height: 16px;
	vertical-align: text-top;
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	cursor: pointer;
}

.empty {
	height: 10px;
	position: absolute;
	top: 4px;
	left: 4px;
	z-index: 2;
}

.star {
	position: absolute;
	height: 13px;
	top: 2px;
	left: 16px;
	z-index: 2;
}

.flatButton {
	display: inline-block;
	background-color: transparent;
	padding: 0;
	margin: 0;
	font-weight: 600;
}


//The text that appears when you hover
.helperText {
	position: absolute;
	background-color: $black;
	color: $white;
	display: block;
	font-size: 0.7em;
	padding: 3px;
	width: fit-content;
	max-width: 100px;
}