@import 'color';
@import 'page';
@import 'font';

.admin {
	position: fixed;
	z-index: 4;
	top: 555px;
	left: 300px;
	opacity: 0.9;
}

#save {
	left: 65px;
}

#edit {
	left: 160px;
}

#create {
	left: 255px;
}

.icon, .delete {
	height: 16px;
	vertical-align: text-top;
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}