@import 'color';
@import 'page';
@import 'font';

.admin {
  left: 300px;
  opacity: .9;
  position: fixed;
  top: 555px;
  z-index: 4;
}

.admin:hover {
  background-color: $grey900;
}

#save,
#saveEdits {
  background-color: $red400;
  display: none;
  left: 65px;
  opacity: .95;
}

#save:hover,
#saveEdits:hover {
  background-color: $red500;
}

#edit {
  left: 160px;
}

#create {
  left: 255px;
}

.icon,
.delete {
  cursor: pointer;
  float: right;
  height: 16px;
  margin-right: 5px;
  margin-top: 5px;
  vertical-align: text-top;
}

.empty {
  height: 10px;
  left: 4px;
  position: absolute;
  top: 4px;
  z-index: 2;
}

.star {
  height: 13px;
  left: 16px;
  position: absolute;
  top: 2px;
  z-index: 2;
}

.flatButton {
  background-color: transparent;
  display: inline-block;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

// The text that appears when you hover
.helperText {
  background-color: $black;
  color: $white;
  display: block;
  font-size: .7em;
  max-width: 200px;
  padding: 3px;
  position: absolute;
  width: fit-content;
}

// Mimic the way stackoverflow styles their code blocks
.pln, .pun {
  word-wrap: normal;
  display: inline;
  white-space: pre-wrap;
  text-align: left;
}

// <code>/<pre> Syntax highlighting brah

// Style keywords
.kwd {
  color: $lightblue700;
}

// Style strings
.str {
  color: $purple300;
}

// Style comments
.com {
  color: $grey500;
}

// Style integers/numbers
.lit {
  color: $orange600;
}

// Style type
.typ {
  color: $pinkA200;
}