@import 'color';

.admin {
  left: 300px;
  opacity: .9;
  position: fixed;
  top: 555px;
  z-index: 4;
}

.admin:hover {
  background-color: $grey900;
}

#save,
#saveEdits {
  background-color: $red400;
  display: none;
  left: 65px;
  opacity: .95;
}

#save:hover,
#saveEdits:hover {
  background-color: $red500;
}

#edit {
  left: 160px;
}

#create {
  left: 255px;
}

.adminText {
  font-size: 0.9em;
  top: 527px;
  display: none;
  position: fixed;
}

#createAdminText {
  left: 192px;
}

#editAdminText {
  left: 232px;
}
